.h1 {
  position: relative;
}

.app-hex {
  position: relative;
  // espacement coté
  margin-left: 92px;

  transform: translateX(100px) !important;
}

.wrapper {
  // espacement haut
  margin-top: 9px;
}
