.h1 {
  position: relative;
}

.app-hex {
  position: relative;
  // espacement coté
  margin-left: 122px;

  transform: translateX(100px) !important;
}

.wrapper {
  // espacement haut
  margin-top: 16px;
}

#currentTile {
  position: absolute;
  margin-left: -15px;
  margin-top: -20px;
  z-index: 1500;
  pointer-events: none;
}

#bandeau {
  position: absolute;
  margin-left: -50px;
  margin-top: -20px;
  z-index: 1500;
  pointer-events: none;
  z-index: 1000000000000000;
}
