<div id="{{ hHex }}{{ vHex }}" class="hex-wrapper">
  <img id="{{ hHex }}{{ vHex }}_couleur" src="assets/textures/no-image.png" class="cote-0" />
  <img id="{{ hHex }}{{ vHex }}_batiment" class="img" />
  <div id="rectangle">
    <div class="wrapper" id="{{ hHex }}{{ vHex }}_cost-container"></div>
  </div>
  <img id="{{ hHex }}{{ vHex }}_corner" src="assets/textures/corner.png" class="corner" />
  <img id="{{ hHex }}{{ vHex }}_point-logo" src="assets/textures/no-image.png" class="point-logo" />
  <img id="{{ hHex }}{{ vHex }}_power" src="assets/textures/no-image.png" class="power" />
  <span id="{{ hHex }}{{ vHex }}_point"></span>
</div>
