<div id="{{ hHex }}{{ vHex }}" class="hex-wrapper">
  <div id="{{ hHex }}{{ vHex }}_player" class="player"></div>
  <div id="{{ hHex }}{{ vHex }}_index" style="display: none">0</div>
  <!-- <span id="{{ hHex }}{{ vHex }}_w_cost" class="w_cost"> </span>
  <span id="{{ hHex }}{{ vHex }}_g_cost" class="g_cost"> </span>
  <span id="{{ hHex }}{{ vHex }}_s_cost" class="s_cost"> </span> -->
  <div id="rectangle-contr">
    <div class="wrapper-contr" id="{{ hHex }}{{ vHex }}_contr"></div>
    <div class="wrapper-contr-sky" id="{{ hHex }}{{ vHex }}_contr-sky"></div>
  </div>

  <span id="{{ hHex }}{{ vHex }}_max" class="max"> </span>
  <img id="{{ hHex }}{{ vHex }}_couleur" src="assets/textures/no-image.png" class="cote-0" />
  <img id="{{ hHex }}{{ vHex }}_batiment" class="img" />
  <div id="rectangle">
    <div class="wrapper" id="{{ hHex }}{{ vHex }}_cost-container"></div>
  </div>
  <!-- <img id="{{ hHex }}{{ vHex }}_corner" src="assets/textures/layout.png" class="corner" hidden /> -->
</div>
