<div id="{{ hHex }}{{ vHex }}" class="hex-wrapper">
  <img class="img" src="assets/textures/mask.png" style="z-index: 10" />
  <img id="{{ hHex }}{{ vHex }}_couleur" class="img" />
  <img id="{{ hHex }}{{ vHex }}_batiment" class="img" />
  <div id="rectangle">
    <div class="wrapper" id="wrapper">
      <ng-container *ngFor="let logo of logos">
        <img src="assets/textures/{{ logo }}.png" class="logo" />
      </ng-container>
    </div>
  </div>
  <div id="points-wrapper">
    <div class="points">{{ points }}</div>
    <img *ngIf="pointsLogo" src="assets/textures/{{ pointsLogo }}.png" id="points-logo" class="points-logo" />
  </div>

  <div id="power-wrapper">
    <img *ngIf="power" src="assets/textures/{{ power }}.png" id="power" class="points-logo" />
  </div>
</div>
