@import "src/assets/style-var.scss";

.triangle {
  width: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
}

.img {
  position: absolute;
  width: 70px;
  left: 0px;
  z-index: 10;
  margin-left: -17px;
}

.player {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  z-index: 100000000000000000000000000000;
  left: 0px;
  top: 0px;
  margin-top: 27.5px;
  margin-left: 11.5px;
}

.hex-wrapper {
  display: inline;
  position: relative;
  cursor: pointer;
}

.cote-0 {
  width: 40px;
  @extend .triangle;
  transform: translateY(29px);
}

.cote-1 {
  @extend .triangle;
  transform: translateY(21.7px) translateX(12.7px) rotate(-60deg);
}

.cote-2 {
  @extend .triangle;
  transform: translateY(7.1px) translateX(12.7px) rotate(-120deg);
}

.cote-3 {
  @extend .triangle;
  transform: rotate(180deg);
}

.cote-4 {
  @extend .triangle;
  transform: translateY(7.1px) translateX(-12.7px) rotate(120deg);
}

.cote-5 {
  @extend .triangle;
  transform: translateY(21.7px) translateX(-12.7px) rotate(60deg);
}
