/* You can add global styles to this file, and also import other style files */

html {
  //background-color: rgb(240, 231, 204);
  background-color: white;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0 !important;
  padding: 0;
}

.mage {
  position: absolute;
  width: 125px;
  left: -35px;
  top: -10px;
  z-index: 100000000000000000000000000000000000000000000000000000000000000000000000;
}
.r0 {
}
.r60 {
  transform: rotate(60deg);
}

.r120 {
  transform: rotate(120deg);
}

.r180 {
  transform: rotate(180deg);
}

.r240 {
  transform: rotate(240deg);
}

.r300 {
  transform: rotate(300deg);
}

.r360 {
  transform: rotate(360deg);
}

.logo {
  width: 12px;
}

.point {
  position: absolute;
  font-size: 13px;
  left: 57px;
  top: 5.5px;
  z-index: 10000;
  font-family: fantasy;
  color: black;
  //-webkit-text-stroke: 0.7px black;
}

.point-empty {
  position: absolute;
  font-size: 13px;
  left: 65px;
  top: 5px;
  z-index: 10000;
  font-family: fantasy;
  color: black;
  // -webkit-text-stroke: 0.7px black;
}

// SIZE impair
.odd {
  //top: 45px;
}

.number {
  font-size: 13px;
  font-family: cursive;
}
