@import "src/assets/style-var.scss";

.app-hex {
  position: relative;
  // SIZE espacement coté
  margin-left: 77px;
  transform: translateX(100px) !important;
}

.wrapper {
  // SIZE espacement haut
  margin-top: 60px;
}

.content {
  height: 450px;
  width: 300px;
  margin-left: -77px;
  margin-top: -70px;
  background-color: rgba(255, 255, 255, 0.629);
}
