.bandeau-wrapper {
  background-color: rgb(255, 255, 255);
  padding: 2px 5px;
  border-radius: 4px;
  font-weight: 400;
  font-family: cursive;
  height: 95px;
  width: 180px;
  text-align: center;
}

.separator {
  height: 10px;
}

.active1 {
  box-shadow: inset 0px 0px 0px 2px #2c63bf;
}

.active2 {
  border: solid #bf352c;
}

.name1 {
  color: #2c63bf;
}

.name2 {
  color: #bf352c;
}

.hex1 {
  margin-left: -34px;
}

.hex2 {
  margin-left: 87px;
}

.opacity {
  opacity: 0.5;
}

.info-wrapper {
  display: inline;
  padding: auto;
}
