<div class="content">
  <ng-container *ngFor="let j of gridSizeY" style="margin-top: 40px">
    <div class="wrapper">
      <ng-container *ngFor="let i of gridSizeX"
        ><app-hex (click)="hexClick(i, j)" class="app-hex" [hHex]="400 + i" [vHex]="j"></app-hex
      ></ng-container>
    </div>
  </ng-container>
  <button style="position: absolute; left: 0; top: 300px" (click)="flush()">FLUSH</button>
  <button style="position: absolute; left: 80px; top: 300px" (click)="remove()">REMOVE</button>
  <button style="position: absolute; left: 180px; top: 300px" (click)="move()">MOVE</button>
  <div style="position: absolute; left: 0; top: 330px">
    <div
      style="
        background-color: #a6035d;
        width: 40px;
        height: 80px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
      "
    ></div>
  </div>

  <div style="position: absolute; left: 40px; top: 330px">
    <button style="width: 40px; height: 20px" (click)="plus('w1')">+</button>
    <div
      style="
        background-color: #0002a3;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
      "
    >
      {{ r.w1 }}
    </div>
    <button style="width: 40px; height: 20px" (click)="moins('w1')">-</button>
  </div>

  <div style="position: absolute; left: 80px; top: 330px">
    <button style="width: 40px; height: 20px" (click)="plus('g1')">+</button>
    <div
      style="
        background-color: #33cc33;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
      "
    >
      {{ r.g1 }}
    </div>
    <button style="width: 40px; height: 20px" (click)="moins('g1')">-</button>
  </div>

  <div style="position: absolute; left: 120px; top: 330px">
    <button style="width: 40px; height: 20px" (click)="plus('s1')">+</button>
    <div
      style="
        background-color: #efca08;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
      "
    >
      {{ r.s1 }}
    </div>
    <button style="width: 40px; height: 20px" (click)="moins('s1')">-</button>
  </div>

  <div style="position: absolute; left: 160px; top: 330px">
    <button style="width: 40px; height: 20px" (click)="plus('r1')">+</button>
    <div
      style="
        background-color: #ff7d00;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
      "
    >
      {{ r.r1 }}
    </div>
    <button style="width: 40px; height: 20px" (click)="moins('r1')">-</button>
  </div>

  <div style="position: absolute; left: 0; top: 410px">
    <div
      style="
        background-color: #f28705;
        width: 40px;
        height: 80px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
      "
    ></div>
  </div>

  <div style="position: absolute; left: 40px; top: 410px">
    <button style="width: 40px; height: 20px" (click)="plus('w2')">+</button>
    <div
      style="
        background-color: #0002a3;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
      "
    >
      {{ r.w2 }}
    </div>
    <button style="width: 40px; height: 20px" (click)="moins('w2')">-</button>
  </div>

  <div style="position: absolute; left: 80px; top: 410px">
    <button style="width: 40px; height: 20px" (click)="plus('g2')">+</button>
    <div
      style="
        background-color: #33cc33;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
      "
    >
      {{ r.g2 }}
    </div>
    <button style="width: 40px; height: 20px" (click)="moins('g2')">-</button>
  </div>

  <div style="position: absolute; left: 120px; top: 410px">
    <button style="width: 40px; height: 20px" (click)="plus('s2')">+</button>
    <div
      style="
        background-color: #efca08;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
      "
    >
      {{ r.s2 }}
    </div>
    <button style="width: 40px; height: 20px" (click)="moins('s2')">-</button>
  </div>

  <div style="position: absolute; left: 160px; top: 410px">
    <button style="width: 40px; height: 20px" (click)="plus('r2')">+</button>
    <div
      style="
        background-color: #ff7d00;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
      "
    >
      {{ r.r2 }}
    </div>
    <button style="width: 40px; height: 20px" (click)="moins('r2')">-</button>
  </div>
  <button style="position: absolute; left: 0; top: 500px" (click)="fill1()">fill1</button>
  <button style="position: absolute; left: 80px; top: 500px" (click)="fill2()">fill2</button>
  <button style="position: absolute; left: 180px; top: 500px" (click)="fill3()">fill3</button>
</div>
